@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/5x5-dots');

body {
    margin: 0;
    height: 100vh;
    /* Full viewport height */
    background: linear-gradient(to right, #243819 5%, #1a1e11 20%, #1a1e11 80%, #243819 95%);
}
